<!DOCTYPE root[<!ELEMENT Status ANY>
<!ATTLIST Status id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
 

]>
<root id="-1">
  <HomePage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-04-30T09:37:17" updateDate="2013-04-30T09:49:28" nodeName="Umbraco single page CRUD app" urlName="umbraco-single-page-crud-app" path="-1,1048" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1049">
    <Status id="1050" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2013-04-30T09:44:22" updateDate="2013-04-30T09:44:26" nodeName="test" urlName="test" path="-1,1048,1050" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0">
      <message><![CDATA[test]]></message>
    </Status>
    <footer><![CDATA[<p>Sample single page CRUD app built with <a href="http://umbraco.com" target="_blank">Umbraco</a>, <a href="http://angularjs.org/" target="_blank">AngularJS</a> and <a href="http://twitter.github.io/bootstrap/" target="_blank">Bootstrap</a>. Making use of the new Umbraco APIs (<a href="http://our.umbraco.org/documentation/Reference/Mvc/querying" target="_blank">IPublishedContent</a>, <a href="http://our.umbraco.org/documentation/v480/Reference/Management-v6/Services/ContentService" target="_blank">ContentService</a> and <a href="http://our.umbraco.org/documentation/Reference/WebApi/" target="_blank">UmbracoAPIController</a>).</p>]]></footer>
  </HomePage>
</root>